
.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

.header h1 {
  font-size: 14px;
  color: mediumaquamarine;
  padding: 20px;
}

nav span {
  display: inline-block;
  justify-content: flex-end;
}

img {
  padding-left: 20px;
}
